In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

In [ ]:
def print_all_columns(a):
    a = list(a)
    a.sort()
    return a

# Preprocessing

We did some processing using Excel: </br>
- Categorize and label all questions based on the topics</br>
- Relabel dataset header with categorized questions</br>

# Data Cleaning for 2022 Survey Data

In [ ]:
data_2022 = pd.read_excel("kaggle_survey_2022_2021_2020_responses_SB.xlsx", sheet_name= 'survey_2022')

## Clearing columns

In [ ]:
row_to_check = 0

cols_to_drop = []

for column in data_2022.columns:
    # Check if the word is present in the cell at the specified row and column
    if data_2022.at[row_to_check, column] == "drop":
        cols_to_drop.append(column)

# Drop the selected columns
data2022 = data_2022.drop(columns=cols_to_drop)

In [ ]:
# strip whitespace in column headers
data2022.columns = data2022.columns.str.strip()

## Clearing rows

### Removing 1st 3 rows of dataframe

In [ ]:
questions = data2022.iloc[2]

columns = data2022.columns
columns = columns.str.replace(r'\d+', '', regex=True)
columns = columns.str.strip()

new_columns = []
i = 0
for dat in questions:
    new_name = columns[i]
    question_split = dat.split(' - ')

    if len(question_split) > 1:
        ans = question_split[-1].strip()
        new_name = new_name + ' - ' + ans
    new_columns.append(new_name)
    i += 1


data2022.columns = new_columns

print_all_columns(data2022.columns)

In [ ]:
data2022= data2022.iloc[3:].reset_index(drop=True)

## Add year column to the dataframe

In [ ]:
data2022['year'] = 2022

# Data Cleaning for 2021 Survey Data

In [ ]:
data_2021 = pd.read_excel("kaggle_survey_2022_2021_2020_responses_SB.xlsx", sheet_name= 'survey_2021')

## Clearing columns

In [ ]:
row_to_check = 0

cols_to_drop = []

for column in data_2021.columns:
    # Check if the word is present in the cell at the specified row and column
    if data_2021.at[row_to_check, column] == "drop":
        cols_to_drop.append(column)

# Drop the selected columns
data2021 = data_2021.drop(columns=cols_to_drop)

In [ ]:
# strip whitespace in column headers
data2021.columns = data2021.columns.str.strip()

## Clearing rows

### Removing 1st 3 rows of dataframe

In [ ]:
questions = data2021.iloc[2]

columns = data2021.columns
columns = columns.str.replace(r'\d+', '', regex=True)
columns = columns.str.strip()

new_columns = []
i = 0
for dat in questions:
    new_name = columns[i]
    question_split = dat.split(' - ')

    if len(question_split) > 1:
        ans = question_split[-1].strip()
        new_name = new_name + ' - ' + ans
    new_columns.append(new_name)
    i += 1


data2021.columns = new_columns

print_all_columns(data2021.columns)

In [ ]:
data2021= data2021.iloc[3:].reset_index(drop=True)

## Add year column to the dataframe

In [ ]:
data2021['year'] = 2021

# Data Cleaning for 2020 Survey Data

In [ ]:
data_2020 = pd.read_excel("kaggle_survey_2022_2021_2020_responses_SB.xlsx", sheet_name= 'survey_2020')

In [ ]:
data_2020.head()

## Clearing columns

In [ ]:
row_to_check = 0

cols_to_drop = []

for column in data_2020.columns:
    # Check if the word is present in the cell at the specified row and column
    if data_2020.at[row_to_check, column] == "drop":
        cols_to_drop.append(column)

# Drop the selected columns
data2020 = data_2020.drop(columns=cols_to_drop)

In [ ]:
# strip whitespace in column headers
data2020.columns = data2020.columns.str.strip()

## Clearing rows

### Removing 1st 3 rows of dataframe

In [ ]:
questions = data2020.iloc[2]

columns = data2020.columns
columns = columns.str.replace(r'\d+', '', regex=True)
columns = columns.str.strip()

new_columns = []
i = 0
for dat in questions:
    new_name = columns[i]
    question_split = dat.split(' - ')

    if len(question_split) > 1:
        ans = question_split[-1].strip()
        new_name = new_name + ' - ' + ans
    new_columns.append(new_name)
    i += 1


data2020.columns = new_columns

print_all_columns(data2020.columns)

In [ ]:
data2020= data2020.iloc[3:].reset_index(drop=True)

## Add year column to the dataframe

In [ ]:
data2020['year'] = 2020

# Combining all three dataframes (2022, 2021, 2020) into one (datacomb)

In [ ]:
datacomb = pd.concat([data2022, data2021, data2020], axis=0)

In [ ]:
# check for similar, mergeable columns
print_all_columns(datacomb.columns)

In [ ]:
datacomb = datacomb.drop(['Popular IDEs - Click to write Choice 13'], axis=1)

In [ ]:
datacomb['Popular auto ML product brand - H2O Driverless AI'] = np.where(~datacomb['Popular auto ML product brand - H20 Driverless AI'].isna() | 
                                                                         ~datacomb['Popular auto ML product brand - H2O Driverless AI'].isna(),'H2O Driverless AI',None)
datacomb['Popular auto ML product brand - H2O Driverless AI'].value_counts()
datacomb = datacomb.drop(['Popular auto ML product brand - H20 Driverless AI'], axis=1)

In [ ]:
datacomb['Popular IDEs - Visual Studio / Visual Studio Code'] = np.where(~datacomb['Popular IDEs - Visual Studio / Visual Studio Code'].isna() | 
                                                                                   ~datacomb['Popular IDEs - Visual Studio'].isna() | 
                                                                                   ~datacomb['Popular IDEs - Visual Studio Code (VSCode)'].isna(),'Visual Studio / Visual Studio Code',None)
datacomb['Popular IDEs - Visual Studio / Visual Studio Code'].value_counts()
datacomb = datacomb.drop(['Popular IDEs - Visual Studio','Popular IDEs - Visual Studio Code (VSCode)'],axis=1)

In [ ]:
datacomb['Popular IDEs - Jupyter (JupyterLab, Jupyter Notebooks, etc)'] = np.where(~datacomb['Popular IDEs - Jupyter (JupyterLab, Jupyter Notebooks, etc)'].isna() | 
                                                                                   ~datacomb['Popular IDEs - Jupyter Notebook'].isna() | 
                                                                                   ~datacomb['Popular IDEs - JupyterLab'].isna(),'Jupyter (JupyterLab, Jupyter Notebooks, etc)',None)
datacomb['Popular IDEs - Jupyter (JupyterLab, Jupyter Notebooks, etc)'].value_counts()
datacomb = datacomb.drop(['Popular IDEs - Jupyter Notebook','Popular IDEs - JupyterLab'],axis=1)

In [ ]:
datacomb['Popular Computer Vision Methods - Object detection methods (YOLO, RetinaNet, etc)'] = np.where(~datacomb['Popular Computer Vision Methods - Object detection methods (YOLOv3, RetinaNet, etc)'].isna() | 
                                                                                   ~datacomb['Popular Computer Vision Methods - Object detection methods (YOLOv6, RetinaNet, etc)'].isna(), 'Object detection methods (YOLO, RetinaNet, etc)',None)
datacomb['Popular Computer Vision Methods - Object detection methods (YOLO, RetinaNet, etc)'].value_counts()
datacomb = datacomb.drop(['Popular Computer Vision Methods - Object detection methods (YOLOv3, RetinaNet, etc)','Popular Computer Vision Methods - Object detection methods (YOLOv6, RetinaNet, etc)'],axis=1)

In [ ]:
datacomb['Popular NLP Methods - Encoder-decoder models (seq2seq, vanilla transformers)'] = np.where(~datacomb['Popular NLP Methods - Encoder-decoder models (seq2seq, vanilla transformers)'].isna() | 
                                                                                   ~datacomb['Popular NLP Methods - Encoder-decorder models (seq2seq, vanilla transformers)'].isna(), 'Encoder-decoder models (seq2seq, vanilla transformers)',None)
datacomb['Popular NLP Methods - Encoder-decoder models (seq2seq, vanilla transformers)'].value_counts()
datacomb = datacomb.drop(['Popular NLP Methods - Encoder-decorder models (seq2seq, vanilla transformers)'],axis=1)

In [ ]:
datacomb['Popular data product brands used (Databases, Warehouses, Lakes) - PostgreSQL'] = np.where(~datacomb['Popular data product brands used (Databases, Warehouses, Lakes) - PostgreSQL'].isna() | 
                                                                                   ~datacomb['Popular data product brands used (Databases, Warehouses, Lakes) - PostgresSQL'].isna(), 'PostgreSQL',None)
datacomb['Popular data product brands used (Databases, Warehouses, Lakes) - PostgreSQL'].value_counts()
datacomb = datacomb.drop(['Popular data product brands used (Databases, Warehouses, Lakes) - PostgresSQL'],axis=1)

In [ ]:
datacomb['Popular media sources for Data Science - Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)'] = np.where(~datacomb['Popular media sources for Data Science - Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)'].isna() | 
                                                                                   ~datacomb['Popular media sources for Data Science - Podcasts (Chai Time Data Science, Oâ€™Reilly Data Show, etc)'].isna(), 'Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)',None)
datacomb['Popular data product brands used (Databases, Warehouses, Lakes) - PostgreSQL'].value_counts()
datacomb = datacomb.drop(['Popular media sources for Data Science - Podcasts (Chai Time Data Science, Oâ€™Reilly Data Show, etc)'],axis=1)

In [ ]:
datacomb = datacomb.rename(columns={'Gender - Selected Choice': 'Gender'})

In [ ]:
print_all_columns(datacomb.columns)

# Cleaning up the 'Education level_attainedOrGGtoAttain' column

In [ ]:
# there are some weird symbols in some cells

replacement_dict = {
    'Bachelor’s degree': 'bachelors',
    'Master’s degree': 'masters',
    'Some college/university study without earning a bachelor’s degree': 'college without bachelors',
    'Doctoral degree':'doctoral',
    'I prefer not to answer': None,
    'Professional doctorate':'doctorate',
    'No formal education past high school': 'high school and below',
    'Bachelorâ€™s degree':'bachelors',
    'Masterâ€™s degree': 'masters',
    'Some college/university study without earning a bachelorâ€™s degree': 'college without bachelors',
    'Professional degree': 'professional deg'}


def replace_text(cell_value, replacements):
    if cell_value is not None and not pd.isna(cell_value):
        # Check if the cell_value is a float, and if so, convert it to a string.
        if isinstance(cell_value, float):
            cell_value = str(cell_value)
        cell_value = replacements.get(cell_value,cell_value)
    return cell_value

datacomb['Education level_attainedOrGGtoAttain'] = datacomb['Education level_attainedOrGGtoAttain'].apply(replace_text, replacements=replacement_dict)

In [ ]:
datacomb['Education level_attainedOrGGtoAttain'].unique()

# Cleaning the 'Job_Salary' column to reduce the number of categories

In [ ]:
datacomb['Job_Salary'].describe()

In [ ]:
salary_counts = datacomb['Job_Salary'].value_counts()
salary_counts.plot(kind='bar')

In [ ]:
def replace_text2(cell_value, replacements):
    if cell_value is not None and not pd.isna(cell_value):
        # Check if the cell_value is a float, and if so, convert it to a string.

        cell_value = str(cell_value)
        cell_value = replacements.get(cell_value,cell_value)
    return cell_value

In [ ]:
salary_recat_dict = {
'$0-999': '$0 to $0.999K',
'1,000-1,999': '$1K to $9.999K',
'2,000-2,999': '$1K to $9.999K',
'3,000-3,999': '$1K to $9.999K',
'4,000-4,999': '$1K to $9.999K',
'5,000-7,499': '$1K to $9.999K',
'7,500-9,999': '$1K to $9.999K',
'10,000-14,999': '$10K to $49.999K',
'15,000-19,999': '$10K to $49.999K',
'20,000-24,999': '$10K to $49.999K',
'25,000-29,999': '$10K to $49.999K',
'30,000-39,999': '$10K to $49.999K',
'40,000-49,999': '$10K to $49.999K',
'50,000-59,999': '$50K to $79.999K',
'60,000-69,999': '$50K to $79.999K',
'70,000-79,999': '$50K to $79.999K',
'80,000-89,999': '$80K to $99.999K',
'90,000-99,999': '$80K to $99.999K',
'100,000-124,999': '$100K to $124.999K',
'125,000-149,999': '$125K to $149.999K',
'150,000-199,999': '$150K to $199.999K',
'200,000-249,999': '$200K to $299.999K',
'250,000-299,999': '$200K to $299.999K',
'300,000-499,999': '$300K to $500K',
'300,000-500,000': '$300K to $500K',
'$500,000-999,999': '>$500K',
'> $500,000': '>$500K',
'>$1,000,000': '>$1000K'}

In [ ]:
datacomb['Job_Salary'].unique()

In [ ]:
datacomb['Job_Salary'] = datacomb['Job_Salary'].apply(replace_text2, replacements=salary_recat_dict)

In [ ]:
datacomb['Job_Salary'].unique()

# Cleaning the 'Gender - Selected Choice' to replace non-man, non-women responses to NaN

In [ ]:
Gender_dict = {'Prefer not to say': np.nan,
              'Nonbinary': np.nan,
              'Prefer to self-describe': np.nan}

In [ ]:
datacomb['Gender'] = datacomb['Gender'].apply(replace_text2, replacements = Gender_dict)

In [ ]:
datacomb.columns

In [ ]:
datacomb.shape

In [ ]:
cat_datacomb_cols = datacomb.select_dtypes(include = ['object']).columns

In [ ]:
len(cat_datacomb_cols)

In [ ]:
datacomb_new = datacomb.drop('Time spent on survey', axis = 1)
datacomb_new.head()

In [ ]:
col_w_other = [col for col in datacomb.columns if 'Other' in col]
col_w_other

In [ ]:
col_w_none = [col for col in datacomb.columns if 'None' in col]
col_w_none

In [ ]:
cols_to_remove = col_w_other + col_w_none

In [ ]:
datacomb_new = datacomb_new.drop(columns = cols_to_remove, axis = 1)

In [ ]:
len(datacomb_new.columns)

In [ ]:
datacomb_new.shape

In [ ]:
datacomb_new.columns.difference(datacomb_new.select_dtypes(include = ['object']).columns) # the only column that is not categorical is year

# Cleaning the 'Location' column

In [ ]:
datacomb_new['Location'].unique()

In [ ]:
Location_dict = {'I do not wish to disclose my location': np.nan,
              'Other': np.nan}

In [ ]:
datacomb_new['Location'] = datacomb_new['Location'].apply(replace_text, replacements=Location_dict)

In [ ]:
datacomb_new['Location'].unique()

In [ ]:
datacomb_new['Location'].nunique()

# Writing datacomb to excel

In [ ]:
# # writing the datacomb dataframe to excel
# datacomb.to_csv('data_allthreeyears_combined.csv', index=False)

In [ ]:
# # writing the datacomb dataframe to excel
datacomb_new.to_csv('data_allthreeyears_combined_new1.csv', index=False)

# Some ordinal data need to be encoded to improve visualization (sorted axis values).

In [ ]:
included_columns = ['Age', 'Education level_attainedOrGGtoAttain', 'Coding Experience (in years)', 'Years in ML', 
                    'Job_Salary', 'Money Spent on ML/Cloud Computing', 'Times used TPU']
cols = [col for col in datacomb.columns if col in included_columns]

all = pd.DataFrame()
for col in cols:
    col_df = pd.DataFrame()
    col_df[col] = datacomb[col].unique()
    col_df[col+'_encoded'] = np.zeros(len(col_df[col]))
    all = pd.concat([all, col_df], axis=1)

all.to_csv('all_ans.csv')

# What happens after this is that we label the ordinal data based its intrinsic order
# For example, the ordinal data for education level is as follows:
# 1. No formal education past high school
# 2. Some college/university study without earning a bachelor’s degree
# 3. Bachelor’s degree
# 4. Master’s degree
# 5. Doctoral degree
# 6. Professional degree
# 7. I prefer not to answer
# the completed file will be used in the streamlit app